.first-row {
    height: 170px;
    display: flex;
}

.first-row > div {
    display: flex;
    margin: auto
}

.second-row {
    height: auto;
    padding: 40px;
}

.third-row {
    height: 75px;
}


body {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.img-mail {
    width: 185px;
    height: 69px;
    margin: auto;
}

.txt-header-mail {
    margin-right: 30px;
    color: white;
    font-size: 27px;
}

.txt-footer-mail {
    text-align: center;
    color: white;
    font-size: 18px;
}

.txt-footer-mail > a {
    color: white;
}

.txt-footer-mail > a:hover {
    text-decoration: underline;
}

.big-size-td {
    width: 60%;
    border: 1px solid black;
}

.little-size-td {
    width: 40%;
    border: 1px solid black;
}

.order-table {
    width: 100%;
}

.order-tr {
    display: flex;
}